.link-invoice {
  text-decoration: none;
}

.link-invoices:hover {
  background-color: lightgrey;
}

#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
  background-color: black;
}

body {
  background-color: black;
}
